{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>CoinMarketLeague - My Profile</title>
{% endblock %}

{% block page-content %}
<!-- Begin Page Content -->
<div class="container-fluid">

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
            {{ message }}
    </div>
    {% endfor %}
{% endif %}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800 mr-auto">{{ trader.username }}'s trading dashboard</h1>
      <form method="GET" action=".">
          <div class="form-row">
              <div class="form-group col-mr-2">
                <label for="date_from">From</label>
                <input type="date" class="form-control" id="date_from" name="date_from">
              </div>
              <div class="form-group col-mr-2">
                <label for="date_to">To</label>
                <input type="date" class="form-control" id="date_to" name="date_to">
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- PnL (Daily) Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              PnL (Daily)</div>
                            {% if trader.profile.daily_pnl %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ trader.profile.daily_pnl }} %</div>
                            {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Not available</div>
                            {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- PnL (Weekly) Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              PnL (Weekly)</div>
                            {% if trader.profile.weekly_pnl %}
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ trader.profile.weekly_pnl }} %</div>
                            {% else %}
                              <div class="h5 mb-0 font-weight-bold text-gray-800">Not available</div>
                            {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- PnL (Monthly) Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">PnL (Monthly)
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                {% if trader.profile.monthly_pnl %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ trader.profile.monthly_pnl }} %</div>
                                {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Not available</div>
                                {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    {% if not overview %}
      <!-- Total Balance Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Total balance </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ balance }} {{ currency }}</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
  </div>

  <!-- Content Row -->

  <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-12">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Cumulative PnL (%)</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                  <div class="chart-area">
                      <canvas id="cumPnLChart"></canvas>
                  </div>
              </div>
          </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-6 col-lg-12">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Asset Allocation (%)</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                      <canvas id="balPercChart"></canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <!-- Content Row -->
    {% if not overview %}
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Balance Net Worth ($)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="balanceChart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <!-- Bar Chart -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Daily PnL ($)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="dailyPnLChart"></canvas>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endif %}


    <!-- <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
        
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Trade history</h6>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-sm" id="tradeTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Symbol</th>
                                    {% if not overview %}<th>Amount</th> {% endif %}
                                    <th>Price</th>
                                    <th>Side</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for trade in trades_hist %}
                                <tr>
                                  <td>{{ trade.time }}</td>
                                  <td>{{ trade.symbol }}</td>
                                  {% if not overview %} <td>{{ trade.amount }}</td> {% endif %}
                                  <td>{{ trade.price }}</td>
                                  <td>{{ trade.side }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% if not overview %}
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Transaction history</h6>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-sm" id="transactionTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Asset</th>
                                    <th>Amount</th>
                                    <th>Side</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for trans in trans_hist %}
                                <tr>
                                  <td>{{ trans.time }}</td>
                                  <td>{{ trans.asset }}</td>
                                  <td>{{ trans.amount }}</td>
                                  <td>{{ trans.side }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div> -->

<!-- /.container-fluid -->
{% endblock %}

{% block body-static %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}" %}></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

<script> </script>


{{ cum_pnl_hist|json_script:"cum_pnl_hist" }}
<script type="text/javascript"> 
    // Area Chart Example
    var ctx = document.getElementById("cumPnLChart");
    var labels = JSON.parse(document.getElementById('cum_pnl_hist').textContent).labels;
    var data = JSON.parse(document.getElementById('cum_pnl_hist').textContent).data;
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
            label: "PnL",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: data,
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
            xAxes: [{
                time: {
                unit: 'date'
                },
                gridLines: {
                display: false,
                drawBorder: false
                },
                ticks: {
                maxTicksLimit: 7
                }
            }],
            yAxes: [{
                ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return number_format(value, 2) + ' %';
                }
                },
                gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
                }
            }],
            },
            legend: {
            display: false
            },
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2) + ' %';
                }
            }
            }
        }
        });
</script>

{{ balance_hist|json_script:"balance_hist" }}
<script type="text/javascript"> 
    // Area Chart Example
    var ctx = document.getElementById("balanceChart");
    var labels = JSON.parse(document.getElementById('balance_hist').textContent).labels;
    var data = JSON.parse(document.getElementById('balance_hist').textContent).data;
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
            label: "Balance",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: data,
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
            xAxes: [{
                time: {
                unit: 'date'
                },
                gridLines: {
                display: false,
                drawBorder: false
                },
                ticks: {
                maxTicksLimit: 7
                }
            }],
            yAxes: [{
                ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return '$' + number_format(value);
                }
                },
                gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
                }
            }],
            },
            legend: {
            display: false
            },
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                }
            }
            }
        }
        });
</script>

{{ balance_percentage|json_script:"balance_percentage" }}
<script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart
    var ctx = document.getElementById("balPercChart");
    var labels = JSON.parse(document.getElementById('balance_percentage').textContent).labels;
    var data = JSON.parse(document.getElementById('balance_percentage').textContent).data;
    var balPercChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: labels,
        datasets: [{
        data: data,
        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', 
                    '#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
                    '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                    '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
                    '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                    '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
                    '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                    '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
                    '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                    '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
                    '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'],
        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
        hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        },
        legend: {
            display: true,
            position: 'right',
            labels: {
                generateLabels: function(chart) {
                    var data = chart.data;
                    if (data.labels.length && data.datasets.length) {
                        return data.labels.map(function(label, i) {
                            var meta = chart.getDatasetMeta(0);
                            var ds = data.datasets[0];
                            var arc = meta.data[i];
                            var custom = arc && arc.custom || {};
                            var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault;
                            var arcOpts = chart.options.elements.arc;
                            var fill = custom.backgroundColor ? custom.backgroundColor : getValueAtIndexOrDefault(ds.backgroundColor, i, arcOpts.backgroundColor);
                            var stroke = custom.borderColor ? custom.borderColor : getValueAtIndexOrDefault(ds.borderColor, i, arcOpts.borderColor);
                            var bw = custom.borderWidth ? custom.borderWidth : getValueAtIndexOrDefault(ds.borderWidth, i, arcOpts.borderWidth);

							// We get the value of the current label
							var value = chart.config.data.datasets[arc._datasetIndex].data[arc._index];

                            return {
                                // Instead of `text: label,`
                                // We add the value to the string
                                text: label + " : " + value + " %",
                                fillStyle: fill,
                                strokeStyle: stroke,
                                lineWidth: bw,
                                hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                                index: i
                            };
                        });
                    } else {
                        return [];
                    }
                }
            }
        },
        cutoutPercentage: 80,
    },
    });
</script>

{{ daily_pnl_hist|json_script:"daily_pnl_hist" }}
<script type="text/javascript">
    function round1000(x){
        if (x > 0) {
            return Math.ceil(x/1000)*1000;
        } else {
            return Math.floor(x/1000)*1000;
        } 
    }
    
    var ctx = document.getElementById("dailyPnLChart");
    var labels = JSON.parse(document.getElementById('daily_pnl_hist').textContent).labels;
    var data = JSON.parse(document.getElementById('daily_pnl_hist').textContent).data;
    var pnlChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
        label: "PnL",
        backgroundColor: "#4e73df",
        hoverBackgroundColor: "#2e59d9",
        borderColor: "#4e73df",
        data: data,
        }],
    },
    options: {
        maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
        }
        },
        scales: {
        xAxes: [{
            time: {
            unit: 'day'
            },
            gridLines: {
            display: false,
            drawBorder: false
            },
            ticks: {
            maxTicksLimit: 6
            },
            maxBarThickness: 25,
        }],
        yAxes: [{
            ticks: {
            min: round1000(Math.min(...data)),
            max: round1000(Math.max(...data)),
            maxTicksLimit: 5,
            padding: 10,
            // Include a dollar sign in the ticks
            callback: function(value, index, values) {
                return '$' + number_format(value);
            }
            },
            gridLines: {
            color: "rgb(234, 236, 244)",
            zeroLineColor: "rgb(234, 236, 244)",
            drawBorder: false,
            borderDash: [2],
            zeroLineBorderDash: [2]
            }
        }],
        },
        legend: {
        display: false
        },
        tooltips: {
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        callbacks: {
            label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
        },
    }
    });

</script>

<!-- <script>
$(document).ready(function () {
    $('#tradeTable').DataTable({
    "scrollY": "50vh",
    "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
});
</script> -->
{% endblock %}

