{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>CoinMarketLeague - My Profile</title>
{% endblock %}

{% block page-content %}
<!-- Begin Page Content -->
<div class="container-fluid">

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
            {{ message }}
    </div>
    {% endfor %}
{% endif %}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800 mr-auto">{{ trader.username }}'s trading dashboard</h1>

      <form method="GET" action=".">
          <div class="form-row">
              <div class="form-group col-mr-2">
                <label for="date_from">From</label>
                <input type="date" class="form-control" id="date_from" name="date_from">
              </div>
              <div class="form-group col-mr-2">
                <label for="date_to">To</label>
                <input type="date" class="form-control" id="date_to" name="date_to">
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
      </form>

  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- PnL (Daily) Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              PnL (Daily)</div>
                            {% if trader.profile.daily_pnl is not None %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ trader.profile.daily_pnl }} %</div>
                            {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Not available</div>
                            {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- PnL (Weekly) Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              PnL (Weekly)</div>
                            {% if trader.profile.weekly_pnl is not None %}
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ trader.profile.weekly_pnl }} %</div>
                            {% else %}
                              <div class="h5 mb-0 font-weight-bold text-gray-800">Not available</div>
                            {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- PnL (Monthly) Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">PnL (Monthly)
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                {% if trader.profile.monthly_pnl is not None %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ trader.profile.monthly_pnl }} %</div>
                                {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Not available</div>
                                {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    {% if not overview %}
      <!-- Total Balance Card -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Total balance </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ balance }} {{ currency }}</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
  </div>

  <!-- Content Row -->

  <div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Asset Allocation (%)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="balPercChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-12">
        <div class="card shadow mb-4">
    
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Balance Performance (%)</h6>
            </div>
            
            <div class="card-body">
                <div class="table-responsive" style="height: 275px; overflow:auto; text-align:center;">
                    <table class="table table-striped table-bordered table-sm" id="balanceTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>24h PnL </th>
                                <th>Last buy PnL</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for perf in balance_perf %}
                            <tr>
                              <td>{{ perf.asset }}</td>

                              {% if perf.perf_last_24h is not None %}
                                <td>{{ perf.perf_last_24h }} %</td>
                              {% else %}
                                <td>-</td>
                              {% endif %}

                              {% if perf.perf_last_buy is not None %}
                                <td>{{ perf.perf_last_buy }} %</td>
                              {% else %}
                                <td>-</td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Cumulative PnL (%)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="cumPnLChart"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>

    <!-- Content Row -->
    {% if not overview %}
    <div class="row">
        <!-- Bar Chart -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Daily PnL ($)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="dailyPnLChart"></canvas>
                </div>
            </div>
            </div>
        </div>
        
        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Balance Net Worth ($)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="balanceChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">

    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
        
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Trade history</h6>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive" style="height:300px; overflow:auto; text-align:center;">
                        <table class="table table-striped table-bordered table-sm" id="tradeTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Symbol</th>
                                    {% if not overview %}<th>Amount</th> {% endif %}
                                    <th>Price</th>
                                    <th>Side</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for trade in trades_hist %}
                                <tr>
                                  <td>{{ trade.time }}</td>
                                  <td>{{ trade.symbol }}</td>
                                  {% if not overview %} <td>{{ trade.amount }}</td> {% endif %}
                                  <td>{{ trade.price }}</td>
                                  <td>{{ trade.side }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if not overview %}
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Transaction history</h6>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive" style="height:300px; overflow:auto; text-align:center;">
                        <table class="table table-striped table-bordered table-sm" id="transactionTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Asset</th>
                                    <th>Amount</th>
                                    <th>Side</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for trans in trans_hist %}
                                <tr>
                                  <td>{{ trans.time }}</td>
                                  <td>{{ trans.asset }}</td>
                                  <td>{{ trans.amount }}</td>
                                  <td>{{ trans.side }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

<!-- /.container-fluid -->
{% endblock %}

{% block body-static %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}" %}></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

<script> </script>


{{ cum_pnl_hist|json_script:"cum_pnl_hist" }}
<script type="text/javascript"> 
    // Area Chart Example
    var ctx = document.getElementById("cumPnLChart");
    var labels = JSON.parse(document.getElementById('cum_pnl_hist').textContent).labels;
    var pnlData = JSON.parse(document.getElementById('cum_pnl_hist').textContent).data;
    var btcData = JSON.parse(document.getElementById('cum_pnl_hist').textContent).btc_data;
    
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
                datasets: [{
                    label: "Your PnL",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: pnlData,
                    },
                    {
                    label: "BTC PnL",
                    lineTension: 0.3,
                    backgroundColor: "rgba(255, 195, 0, 0.05)",
                    borderColor: "rgba(255, 195, 0, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(255, 195, 0, 1)",
                    pointBorderColor: "rgba(255, 195, 0, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(255, 195, 0, 1)",
                    pointHoverBorderColor: "rgba(255, 195, 0, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: btcData,
                    },
                ],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
            xAxes: [{
                time: {
                unit: 'date'
                },
                gridLines: {
                display: false,
                drawBorder: false
                },
                ticks: {
                maxTicksLimit: 7
                }
            }],
            yAxes: [{
                ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return number_format(value, 2) + ' %';
                }
                },
                gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
                }
            }],
            },
            legend: {
                display: true,
                position: 'top',
                align: 'end'
            },
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2) + ' %';
                }
            }
            }
        }
        });
</script>

{{ balance_hist|json_script:"balance_hist" }}
<script type="text/javascript"> 
    // Area Chart Example
    var ctx = document.getElementById("balanceChart");
    var labels = JSON.parse(document.getElementById('balance_hist').textContent).labels;
    var data = JSON.parse(document.getElementById('balance_hist').textContent).data;

    var cumPnlChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "Balance",
                lineTension: 0.3,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: "rgba(78, 115, 223, 1)",
                pointRadius: 3,
                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                pointBorderColor: "rgba(78, 115, 223, 1)",
                pointHoverRadius: 3,
                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                pointHitRadius: 10,
                pointBorderWidth: 2,
                data: data,
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
            xAxes: [{
                time: {
                unit: 'date'
                },
                gridLines: {
                display: false,
                drawBorder: false
                },
                ticks: {
                maxTicksLimit: 7
                }
            }],
            yAxes: [{
                ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                    return '$' + number_format(value);
                }
                },
                gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
                }
            }],
            },
            legend: {
            display: false
            },
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                }
            }
            }
        }
        });
</script>

{{ balance_percentage|json_script:"balance_percentage" }}
<script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart
    var ctx = document.getElementById("balPercChart");
    var labels = JSON.parse(document.getElementById('balance_percentage').textContent).labels;
    var data = JSON.parse(document.getElementById('balance_percentage').textContent).data;
    var colorArray = [
                    "#63b598", "#ce7d78", "#ea9e70", "#a48a9e", "#c6e1e8", "#648177" ,"#0d5ac1" ,
                    "#f205e6" ,"#1c0365" ,"#14a9ad" ,"#4ca2f9" ,"#a4e43f" ,"#d298e2" ,"#6119d0",
                    "#d2737d" ,"#c0a43c" ,"#f2510e" ,"#651be6" ,"#79806e" ,"#61da5e" ,"#cd2f00" ,
                    "#9348af" ,"#01ac53" ,"#c5a4fb" ,"#996635","#b11573" ,"#4bb473" ,"#75d89e" ,
                    "#2f3f94" ,"#2f7b99" ,"#da967d" ,"#34891f" ,"#b0d87b" ,"#ca4751" ,"#7e50a8" ,
                    "#c4d647" ,"#e0eeb8" ,"#11dec1" ,"#289812" ,"#566ca0" ,"#ffdbe1" ,"#2f1179" ,
                    "#935b6d" ,"#916988" ,"#513d98" ,"#aead3a", "#9e6d71", "#4b5bdc", "#0cd36d",
                    "#250662", "#cb5bea", "#228916", "#ac3e1b", "#df514a", "#539397", "#880977",
                    "#f697c1", "#ba96ce", "#679c9d", "#c6c42c", "#5d2c52", "#48b41b", "#e1cf3b",
                    "#5be4f0", "#57c4d8", "#a4d17a", "#225b8", "#be608b", "#96b00c", "#088baf",
                    "#f158bf", "#e145ba", "#ee91e3", "#05d371", "#5426e0", "#4834d0", "#802234",
                    "#6749e8", "#0971f0", "#8fb413", "#b2b4f0", "#c3c89d", "#c9a941", "#41d158",
                    "#fb21a3", "#51aed9", "#5bb32d", "#807fb", "#21538e", "#89d534", "#d36647",
                    "#7fb411", "#0023b8", "#3b8c2a", "#986b53", "#f50422", "#983f7a", "#ea24a3",
                    "#79352c", "#521250", "#c79ed2", "#d6dd92", "#e33e52", "#b2be57", "#fa06ec",
                    "#1bb699", "#6b2e5f", "#64820f", "#1c271", "#21538e", "#89d534", "#d36647",
                    "#7fb411", "#0023b8", "#3b8c2a", "#986b53", "#f50422", "#983f7a", "#ea24a3",
                    "#79352c", "#521250", "#c79ed2", "#d6dd92", "#e33e52", "#b2be57", "#fa06ec",
                    "#1bb699", "#6b2e5f", "#64820f", "#1c271", "#9cb64a", "#996c48", "#9ab9b7",
                    "#06e052", "#e3a481", "#0eb621", "#fc458e", "#b2db15", "#aa226d", "#792ed8",
                    "#73872a", "#520d3a", "#cefcb8", "#a5b3d9", "#7d1d85", "#c4fd57", "#f1ae16",
                    "#8fe22a", "#ef6e3c", "#243eeb", "#1dc18", "#dd93fd", "#3f8473", "#e7dbce",
                    "#421f79", "#7a3d93", "#635f6d", "#93f2d7", "#9b5c2a", "#15b9ee", "#0f5997",
                    "#409188", "#911e20", "#1350ce", "#10e5b1", "#fff4d7", "#cb2582", "#ce00be",
                    "#32d5d6", "#17232", "#608572", "#c79bc2", "#00f87c", "#77772a", "#6995ba",
                    "#fc6b57", "#f07815", "#8fd883", "#060e27", "#96e591", "#21d52e", "#d00043",
                    "#b47162", "#1ec227", "#4f0f6f", "#1d1d58", "#947002", "#bde052", "#e08c56",
                    "#28fcfd", "#bb09b", "#36486a", "#d02e29", "#1ae6db", "#3e464c", "#a84a8f",
                    "#911e7e", "#3f16d9", "#0f525f", "#ac7c0a", "#b4c086", "#c9d730", "#30cc49",
                    "#3d6751", "#fb4c03", "#640fc1", "#62c03e", "#d3493a", "#88aa0b", "#406df9",
                    "#615af0", "#4be47", "#2a3434", "#4a543f", "#79bca0", "#a8b8d4", "#00efd4",
                    "#7ad236", "#7260d8", "#1deaa7", "#06f43a", "#823c59", "#e3d94c", "#dc1c06",
                    "#f53b2a", "#b46238", "#2dfff6", "#a82b89", "#1a8011", "#436a9f", "#1a806a",
                    "#4cf09d", "#c188a2", "#67eb4b", "#b308d3", "#fc7e41", "#af3101", "#ff065",
                    "#71b1f4", "#a2f8a5", "#e23dd0", "#d3486d", "#00f7f9", "#474893", "#3cec35",
                    "#1c65cb", "#5d1d0c", "#2d7d2a", "#ff3420", "#5cdd87", "#a259a4", "#e4ac44",
                    "#1bede6", "#8798a4", "#d7790f", "#b2c24f", "#de73c2", "#d70a9c", "#25b67",
                    "#88e9b8", "#c2b0e2", "#86e98f", "#ae90e2", "#1a806b", "#436a9e", "#0ec0ff",
                    "#f812b3", "#b17fc9", "#8d6c2f", "#d3277a", "#2ca1ae", "#9685eb", "#8a96c6",
                    "#dba2e6", "#76fc1b", "#608fa4", "#20f6ba", "#07d7f6", "#dce77a", "#77ecca"];
    
    var balPercChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: labels,
        datasets: [{
        data: data,
        backgroundColor: colorArray,
        hoverBackgroundColor: colorArray,
        hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        },
        legend: {
            display: data.length > 20 ? false:true,
            position: 'right',
            labels: {
                generateLabels: function(chart) {
                    var data = chart.data;
                    if (data.labels.length && data.datasets.length) {
                        return data.labels.map(function(label, i) {
                            var meta = chart.getDatasetMeta(0);
                            var ds = data.datasets[0];
                            var arc = meta.data[i];
                            var custom = arc && arc.custom || {};
                            var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault;
                            var arcOpts = chart.options.elements.arc;
                            var fill = custom.backgroundColor ? custom.backgroundColor : getValueAtIndexOrDefault(ds.backgroundColor, i, arcOpts.backgroundColor);
                            var stroke = custom.borderColor ? custom.borderColor : getValueAtIndexOrDefault(ds.borderColor, i, arcOpts.borderColor);
                            var bw = custom.borderWidth ? custom.borderWidth : getValueAtIndexOrDefault(ds.borderWidth, i, arcOpts.borderWidth);

							// We get the value of the current label
							var value = chart.config.data.datasets[arc._datasetIndex].data[arc._index];

                            return {
                                // Instead of `text: label,`
                                // We add the value to the string
                                text: label + " : " + value + " %",
                                fillStyle: fill,
                                strokeStyle: stroke,
                                lineWidth: bw,
                                hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                                index: i
                            };
                        });
                    } else {
                        return [];
                    }
                }
            }
        },
        cutoutPercentage: 80,
    },
    });
</script>

{{ daily_pnl_hist|json_script:"daily_pnl_hist" }}
<script type="text/javascript">

    function round1000(x) {
        if (x > 0) {
            return Math.ceil(x/1000)*1000;
        } else {
            return Math.floor(x/1000)*1000;
        } 
    }

    function signToColor(x) {
        if (x > 0) {
            return "#39B81D";
        } else {
            return "#B8371D";
        }
    }

    var ctx = document.getElementById("dailyPnLChart");
    var labels = JSON.parse(document.getElementById('daily_pnl_hist').textContent).labels;
    var pnlData = JSON.parse(document.getElementById('daily_pnl_hist').textContent).data;
    var colorArray = pnlData.map(signToColor);

    var pnlChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: "PnL",
            data: pnlData,
            backgroundColor: colorArray,
            borderColor: "#2e59d9",
            hoverBackgroundColor: colorArray,
        }],
    },
    options: {
        maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
        }
        },
        scales: {
        xAxes: [{
            time: {
            unit: 'day'
            },
            gridLines: {
            display: false,
            drawBorder: false
            },
            ticks: {
            maxTicksLimit: 6
            },
            maxBarThickness: 25,
        }],
        yAxes: [{
            ticks: {
            min: round1000(Math.min(...pnlData)),
            max: round1000(Math.max(...pnlData)),
            maxTicksLimit: 5,
            padding: 10,
            // Include a dollar sign in the ticks
            callback: function(value, index, values) {
                return '$' + number_format(value);
            }
            },
            gridLines: {
            color: "rgb(234, 236, 244)",
            zeroLineColor: "rgb(234, 236, 244)",
            drawBorder: false,
            borderDash: [2],
            zeroLineBorderDash: [2]
            }
        }],
        },
        legend: {
        display: false
        },
        tooltips: {
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        callbacks: {
            label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
        },
    }
    });

</script>

{% endblock %}

