django==3.0.7
psycopg2-binary==2.8.5
gunicorn==20.0.4
numpy==1.17.4
pandas==1.2.4
Pillow==7.0.0
python-binance==0.7.9
django-widget-tweaks==1.4.8
django-searchable-encrypted-fields==0.1.9
Django-Verify-Email==0.0.5