{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<title>CoinMarketLeague - Leaderboard</title>
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page-content %}
<!-- Begin Page Content -->
<div class="container-fluid col-lg-10 col-md-12 col-sm-12">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Cryptocurrency best traders board</h1>
  <p class="mb-4">This leaderboard displays the best traders of the day, of the week and of the month in terms of Profit and Loss (PnL)</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Traders leaderboard</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Username</th>
                          <th>daily PnL</th>
                          <th>weekly PnL</th>
                          <th>monthly PnL</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th>#</th>
                          <th>Username</th>
                          <th>daily PnL</th>
                          <th>weekly PnL</th>
                          <th>monthly PnL</th>
                      </tr>
                  </tfoot>
                  <tbody>
                    {% for ranking, trader in traders %}
                      <tr>
                        <th class="isolated" scope="row">{{ ranking }}</th>
                        <td><a class="selectable" href="{% url 'profile_with_pk' pk=trader.user.pk %}">{{ trader.user.username }}</a></td>
                        <td>{{ trader.daily_pnl }} %</td>
                        <td>{{ trader.weekly_pnl }} %</td>
                        <td>{{ trader.monthly_pnl }} %</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock %}

{% block body-static %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}" %}></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}